<div class="container">
  <div>
  <%= render "shared/form_error", model: @item %>
  </div>
  <%= form_with model:@item, url:admin_item_path,  local:true do |f| %>
    <%= render 'item_form', f: f %>
    <div class="row mt-2 text">
      <label class="col-md-2 mr-2"></label>
      <%= f.submit 'Save', class:"col-md-2 btn btn-success" %>
    </div>
  <% end %>
</div>