<div class="container">
  <div class="col-5">
    <h3 class="mt-5 text title-sub-text">Genre Edit...</h3>
  </div>
  <%= form_with model: @type, url: admin_type_path, local: true do |f| %>
    <p class="mt-5 text">ジャンル名
      <span><%= f.text_field :name %></span>
      <span class="ml-5"><%= f.submit '-Save-', class: "glyphicon glyphicon-pencil btn btn-success" %></span>
    </p>
  <% end %>
</div>