<body class="about-body">
  <header>
    <h1 class="text">~NagaNo Cake~</h1>
  </header>

  <main>
    <ul class="contents">

      <li class="animationTarget">
        <img src="/assets/about/about1.jpg" alt="ケーキの写真">
        <div class="contentsText">
          <h2 class="text">Back ground</h2>
          <p class="text">
            NagaNo Cakeは1999年に長野県で生まれました。
            創業以来、新鮮な「美味しい」を届けることを第一に考え、たくさんのお客様に笑顔を届けてまいりました。<br>
            当店では選び抜かれた長野県産フルーツはもちろんのこと、大自然の恵みを受け大切に育てられた乳牛からとれた搾りたての牛乳を使用しています。<br>
            皆様の日常に幸せが届きますように。
          </p>
        </div>
      </li>

      <li class="animationTarget">
        <img src="/assets/about/about2.jpg" alt="シュークリームの写真">
        <div class="contentsText">
          <h2 class="text">Delivery...</h2>
          <p class="text">
            全国発送可能ですので「いつ」でも「どこ」でもご注文頂けます。<br>
            作りたての商品を新鮮なままお届けするため、専用のケースを用いて<br>
            冷凍保存し、クール便にてお届けいたします。<br>
            ぜひ新鮮なSweetsをぜひご堪能下さい！
          </p>
        </div>
      </li>

      <li class="animationTarget">
        <img src="/assets/about/about3.jpg" alt="ティラミスの写真">
        <div class="contentsText">
          <h2 class="text">Address...</h2>
          <p class="text">
            〒096-5108<br>
            長野県長野市長野区長野 333-333<br>
            皆様のご注文心よりお待ちしております。<br>
            電話番号-----050-6688-2347-----
          </p>
        </div>
      </li>

    </ul>
  </main>
</body>