/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

 @import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');

// バック背景設定 //
body {
  background-image: image-url('back_image2.jpg');

  background-size: cover;
  background-color: #FAEBD7;
}

.top-body {
  background-image: none
}

.about-body {
  background-image: none
}

// ボタンレイアウト //
// 緑色ボタン //
.btn-success {
  color: #FAEBD7;
  background-color: #009999;
  border-color: #003333;
}
.btn-success:hover {
  color: #FAEBD7;
  background-color: #006666;
  border-color: #003333;
}

// 青色ボタン //
.btn-primary {
  color: #FAEBD7;
  background-color: #0099CC;
  border-color: #000066;
}

.btn-primary:hover {
  color: #FAEBD7;
  background-color: #003366;
  border-color: #000066;
}

.btn-danger {
  color: #FAEBD7;
  background-color: #c44d3e;
  border-color: #660000;
}

.btn-danger:hover {
  color: #FAEBD7;
  background-color: #993333;
  border-color: #660000;
}

// タイトル //
.top-title {
  font-size: 80px;
  margin: 60px auto;
  padding: 0.2em 1em 0.3em 1em;
  width: 35%; /*幅の調節*/
  border: 4px solid #993300; /*線の太さ・色*/
  border-radius: 3em .8em 3em .7em/.9em 2em .8em 3em;
}

.main-title {
  margin-top: 140px;
  font-family: "Comic Sans MS","Tsukushi A Round Gothic", "UD デジタル 教科書体 NK-B"; font-weight: bold;
  color: #A52A2A;
}
// 太字 //
.text{
  font-family: "Comic Sans MS","Tsukushi A Round Gothic", "UD デジタル 教科書体 NK-B"; font-weight: bold;
  color: #000044;
}
// 細字 //
.light-text{
  font-family: "Comic Sans MS","Tsukushi A Round Gothic", "UD デジタル 教科書体 NK-B";
  color: #000044;
}
// ヘッダーの文字 //
.header_icon{
  font-family: "Comic Sans MS","Tsukushi A Round Gothic", "UD デジタル 教科書体 NK-B"; font-weight: bold;
  font-size: 23px;
  margin: 0 8px;
  color: #FAEBD7;
}
// フッターの文字 //
.footer-text{
  color: #FAEBD7;
}


// 見出しのレイアウト //
.title-text{
  position: relative;
  display: inline-block;
  height: 64px;
  padding: 1rem 2rem 1rem 3rem;
  color: #000044;
  background: #FFA500;
}

.title-text:before {
  position: absolute;
  top: 0;
  left: -30px;
  content: '';
  border-width: 32px 30px 32px 0;
  border-style: solid;
  border-color: transparent #FFA500 transparent transparent;
}

.title-text:after {
  position: absolute;
  top: calc(50% - 7px);
  left: -10px;
  width: 14px;
  height: 14px;
  content: '';
  border-radius: 50%;
  background: #FAEBD7;
}


// サブ見出しのレイアウト //
.title-sub-text{
  position: relative;
  padding: 1.5rem 1.5rem calc(1.5rem + 10px);
  border: 2px solid #000;
  color: #000044;
}

.title-sub-text:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  content: '';
  border-top: 2px solid #000044;
  background-image: -webkit-repeating-linear-gradient(135deg, #000044, #000044 1px, transparent 2px, transparent 5px);
  background-image: repeating-linear-gradient(-45deg, #000044, #000044 1px, transparent 2px, transparent 5px);
  background-size: 7px 7px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}


// 商品詳細見出し //
.item-text{
  position: relative;
  padding: 1rem 2rem;
  border: 4px solid #000044;
}

.item-text:before {
  position: absolute;
  top: 4px;
  left: 4px;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  content: '';
  border: 2px solid #000044;
}

.table > thead > tr > th{
    border:1px solid #000044;
}
.table > tbody > tr > th{
    border:1px solid #000044;
}
.table > tbody > tr > td{
    border:1px solid #000044;
}

@media (min-width: 992px){
.navbar-search {
    display: block !important;
    flex-basis: auto;
}
}

.pagination > li > a{
  color : #000044;
}

.page-item.active .page-link {
    z-index: 3;
    color: white;
    background-color: #000044;
    border-color: #000044;
}