<div id="navArea">

  <nav>
    <div class="inner">
      <ul>
        <li><%= link_to " ABOUT",home_about_path,class: "nav-link fas fa-question-circle" %></li>
        <li><%= link_to " 商品一覧",items_path,class: "nav-link fas fa-birthday-cake" %></li>
        <li><%= link_to " 会員登録",new_customer_registration_path,class: "nav-link fas fa-users" %></li>
        <li><%= link_to " ログイン",new_customer_session_path,class: "nav-link fas fa-sign-in-alt" %></li>
      </ul>
      </ul>
    </div>
  </nav>

  <div class="hm-icon">
    <a class="menu-trigger" href="#">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </a>
  </div>

  <div id="mask"></div>

</div>